body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#preview {
    height: 100%;
    z-index: 0;
}

#docs {
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 1;
}

.myAwesomeButtonIcon {
    background-image: url(https://img.icons8.com/color/48/000000/fire-element.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
